# Archivos de compilación
*.class

# Directorio de salida
/out/

# Archivos generados
*.log
*.war
*.ear

# Directorios específicos de IntelliJ IDEA
.idea/
*.iml

# Dependencias descargadas por Maven o Gradle
.mvn/
target/
build/

# Archivos específicos del sistema operativo
.DS_Store
Thumbs.db

# Archivos específicos de configuración de entorno
.env

# Archivos de configuración de Maven
log/
logs/
*.log

# Archivos de configuración de Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Archivos de configuración de distribución
dist/

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### Archivos Especificos ###
objeto.ser
/src/main/java/org/vzw/PickALanguage/LearnTheFundamentals/WorkingFilesAndAPI/WorkWithFiles/CargarArchivos/directorio/
/src/main/java/org/vzw/PickALanguage/LearnTheFundamentals/WorkingFilesAndAPI/WorkWithFiles/EscrituraLecturaDeArchivos/directorio/
/src/main/java/org/vzw/PickALanguage/LearnTheFundamentals/WorkingFilesAndAPI/WorkWithFiles/MoverBorrarListar/directorio/
